
*

{
margin:0px ;
padding:0px;
font-family: Bitter-BoldItalic;
}



@font-face {
	font-family: 'Bitter-BoldItalic'; 
	src: url(../font/Bitter-BoldItalic.ttf); 
}

 

.images  {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.images img {
    width: 25%;

}


.logo img {
    width: 85%;
    margin: 0 auto;
    margin-top: 0 auto;
    display: block;
}


.btn-group
{
 margin-top: 100px;

}

.btn-group button
{
    margin-top: 150px;
    float:right;
    list-style: none;
    margin:0 auto ;
}






/*Редакция текста*/

.contanier-text{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: -150px;

}

.text{
    text-align: justify;
    font-size: 28px;
    background-color: rgb(114, 18, 158);
    line-height: 1.2;
    box-shadow: -8px 0 0 1px rgb(231, 2, 220), 8px 0 0 1px rgb(231, 2, 220);
    color: rgb(27, 206, 191);
}

.text-ie-level-02{
   
    background-color: rgb(114, 18, 158);
    padding: 1px 0;
    line-height: 1.2;
}

.text-ie{
    
    
    left: -.5em;

}


.heading{
    text-align: center;
    font-size: 22px;
    background-color: rgb(114, 18, 158);
    line-height: 1.2;
    box-shadow: -8px 0 0 1px rgb(231, 2, 220), 8px 0 0 1px rgb(231, 2, 220);
    color: rgb(27, 206, 191);
}

.heading-ie-level-02{
   
    background-color: rgb(114, 18, 158);
    padding: 1px 0;
    line-height: 1.2;
}

.heading-ie{
    
    
    left: -.5em;

}

.Button a{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 150px;
    width: 200px;
    height: 50px;

}


@media (min-width: 576px){
.modal-dialog {
    max-width: 500px !important;
    margin: 1.75rem auto !important;

}
}

.mods{
    display: flex;
    justify-content: center;
}

.mod{
    padding: 100px auto;
}